{% extends 'base.html' %}
{#% block external_style %}{% endblock %#}
{#% block style %}{% endblock %#}
{% block content %}
<a href="/songs/">&lt;&lt;Back to song list</a>
<h2><a href="/songs/{{song.id}}/">{{ title }}</a></h2>
{% if form %}
<form action="" method="POST">
  <input class="btn" type="submit" value="Save" />
  <a class="btn" href="../">Cancel</a> 
<table>
{{ form.as_table }}
</table>
{% csrf_token %}
</form>
{% else %}
<ul>
  <li><a href="/songs/{{song.id}}/">Details</a></li>
  <li><a href="/songs/{{song.id}}/lyrics/">Lyrics</a></li>
  <li><a href="/songs/{{song.id}}/chords/">Chords</a></li>
</ul>
  <a href="modify/" class="btn">Edit</a>
<dl>
  {% for detail in details_list %}
  {% cycle '<dt>' '<dd>' %}{{ detail|linebreaksbr }}{% cycle '</dt>' '</dd>' %}
  {% endfor %}
</dl>
{% endif %}
{% endblock %}

