{% extends 'base.html' %}
{% block content %}
<h2><a href="/songs/{{song.id}}/">{{ title }}</a></h2>
{% if form %}
<form action="" method="POST">
  <input class="btn" type="submit" value="Save" />
  <a class="btn" href="../">Cancel</a> 
<table>
{{ form.as_table }}
</table>
{% csrf_token %}
</form>
{% else %}
<ul>
  <li><a href="/songs/">Song List</a></li>
  <li><a href="modify/">Edit</a></li>
  <li><a href="/songs/{{song.id}}/lyrics/">Lyrics</a></li>
  <li><a href="/songs/{{song.id}}/chords/">Chords</a></li>
</ul>
<dl>
  {% for key, value in details_list %}
  <dt>{{ key }}&nbsp;</dt>
  <dd>{{ value|linebreaksbr }}&nbsp;</dd>
  {% endfor %}
</dl>
{% endif %}
{% endblock %}

